  <div class="album py-5 ">
    <div class="container">

      <div class="row">
        <div class="col-md-4 mt-4 mb-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "tasklist.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">タスク管理アプリ<br>テックアカデミーにて課題+自主作成したタスク管理アプリ。ユーザーの作成やログイン。またユーザーごとにタスクを割り振ったり編集削除ができたりなどができる。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://tasklist-0106.herokuapp.com/" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>

                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2020/8</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4 mb-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "homepage.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">ホームページ(オンラインポートフォリオ)<br>現在表示されているWEBページ。種類分けや見やすいデザインを意識しており、またコードの整理もしてあるので後々編集しやすい。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="#" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>

                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2020/11</small>
              </div>
            </div>
          </div>
        </div>
        
    </div>
  </div>