  <div class="album py-5 ">
    <div class="container">

      <div class="row">
        <div class="col-md-4 mt-4 mb-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "bijuju.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">イメージ画像;masa2さんから転載</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2020~</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 mt-4 mb-4">
        <h3>主観的オンライン美術館</h3>
        <p>2020年2月頃から蔓延し始めたコロナウイルスの影響で様々な施設が閉鎖・制限された。それは美術館やギャラリーも例外ではなく、
        様々な画家やイラストレーター様の個展や展覧会などが中止された。そして多くの方はオンラインやWeb掲載で作品を載せたりして対応をしている。<br>
        しかし、展示において順番や順路。サイズや場所・インテリアなど、展示される空間自体が一つの作品であると私は考える。
        その為、インターネット上で現実と同じ様に個展が開ける施設(空間)を作れば、オンラインの性質上世界中からアクセス可能な為、事実上
        「場所・時間・人間問わず運営可能な自分だけの美術館」ができるということになるはずだ。<br>
        機能面としては、実際の絵画のサイズ(号)と建築物(展示施設)の大きさを現実的に比較し自動的にサイズが決まり、好きな場所に飾ることができる。
        また、インテリアや順路などを決めることができたり、詳細を見たい作品、見せたい作品は部分拡大展示が可能であるなどを考えている。<br>
        その為には必然的に現実の人間と同じ目線で見ることができなくてはいけないので、VRなどの技術を投入すればより現実的になると考える。<br>
        まとめると、感染症や場所、時間の違いに左右されず、芸術家各々が個展を開けるサービスということである。</p>
        </div>
      </div>
        
        
    </div>
  </div>